extends layout

block content
    h1 I found your lucky number!
    p#lucky_number It is: #{number}


    select(id="xxx", name="xxxyyy")
        each u in user_list
            option(value="#{u._id}") #{u.first_name} #{u.last_name}
